html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

img {
  object-fit: cover;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'OpenSans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4;
  color: $dark-900;
  display: flex;
  flex-direction: column;
  background-color: $white;
}

.main {
  flex-grow: 1;
  padding-top: 160px;

  @include max-w($md) {
    padding-top: 128px;
  }

  @include max-w($xs) {
    padding-top: 110px;
  }
}

.container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;

  &--big {
    padding: 0;
    margin: 0 auto;
    max-width: 1350px;
  }
}

.title {
  font-family: 'Ruda', sans-serif;
  font-weight: 600;
  font-size: 32px;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  text-transform: uppercase;

  @include max-w($xs) {
    font-size: 24px;
    margin-bottom: 24px;
  }
}