$green-900: #63a60f;
$green-200: #e0edcf;
$green-100: #eff6e7;
$dark-900: #121212;
$dark-800: #31352b;
$dark-500: #505050;
$red: #cf3e3b;
$orange: #ff7a00;
$yellow: #ffb800;
$silver: #c1c1c1;
$silver-100: #f6f6f6;
$white: #fff;



$green-dark: #4d800c;