@import 'fonts';
@import 'vars';
@import 'mixins';
@import 'reset';
@import 'libs';
@import 'global';



.logo {
  display: inline-block;
  margin-right: 24px;
  min-width: 200px;

  @include max-w($sm) {
    margin-right: 0;
  }

  &--center {
    @include max-w($sm) {
      display: inline-block;
    }
  }

  &__img {
    object-fit: contain;
  }
}

.header {
  &__top {
    font-weight: 700;
    background-color: $dark-800;
    padding: 16px 0 12px;
  }


  &__top-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
  }

  &__info {
    display: flex;
  }


  &__info-item {
    margin-right: 36px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include max-w($xs) {
      margin-right: 12px;
    }

    &:last-child {
      margin-right: 0;

      @include max-w($xs) {
        margin-right: -6px;
      }
    }
  }

  &__content {
    background-color: $green-900;
    padding: 25px 0;

    @include max-w($md) {
      padding: 9px 0;
      position: relative;
    }
  }

  &__content-wrapper {
    display: flex;
    align-items: center;

    @include max-w($sm) {
      justify-content: space-between;
    }
  }
}


.menu {
  display: flex;

  @include max-w($md) {
    display: none;
  }

  &__item {
    margin-right: 24px;

    &:last-child {
      margin-right: 0;
    }
  }

}

.drop {
  position: relative;
  max-width: 240px;
  width: 100%;
  height: 50px;
  text-align: center;
  z-index: 5;
  margin-right: 30px;

  &--md {
    @include max-w($md) {
      display: none;
    }
  }

  @include max-w($lg) {
    max-width: 220px;
  }

  @include max-w($md) {
    max-width: 350px;
    margin-bottom: 4px;
  }

  &__btn {
    width: 240px;
    background-color: $white;
    padding: 18px 22px 18px 61px;
    font-weight: 600;
    line-height: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $green-900;
    letter-spacing: 0.03em;
    border-radius: 6px;
    transition: background-color 0.5s, color 0.5s;
    outline: 0;

    @include max-w($lg) {
      width: 220px;
      padding: 18px 14px 18px 50px;
    }

    @include max-w($md) {
      color: $dark-800;
      border-radius: 0;
      max-width: 350px;
      width: 100%;
      font-size: 18px;
      padding: 18px 14px 18px 61px;
    }

    &:focus {
      box-shadow: 0 0 0 4px $green-200;
    }

    &:hover {
      background-color: $green-200;
    }

    &::before {
      position: absolute;
      content: '';
      top: 47%;
      left: 32px;
      background-image: url(../images/icons/nav-line.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 25px;
      height: 17px;
      transform: translate(-50%, -50%);

      @include max-w($lg) {
        left: 24px;
      }

      @include max-w($md) {
        background-image: url(../images/icons/nav-iconblack.svg);
        top: 54%;
        left: 30px;
      }

    }

    &--active {
      background-color: $green-200;
      border-radius: 6px 6px 0 0;

      .drop__svg {
        transform: rotate(180deg);
      }

      @include max-w($md) {
        border-radius: 0;
      }
    }
  }

  &__svg {
    width: 8px;
    height: 7px;
    transition: transform 0.5s;
  }

  &__link {
    display: block;
    color: $dark-900;
    background-color: $white;
    padding: 13px 12px 12px 37px;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    text-decoration: none;
    border: 3px solid transparent;
    text-align: left;
    transition: color 0.5s, border 0.5s;


    &:focus {
      border-color: $green-200;
      outline: 0;
    }

    &:hover {
      color: $green-900;
      border-left-color: $green-900;
    }

    &:active {
      color: $silver;
    }
  }

  &__submenu {
    @include max-w($md) {
      height: 500px;
      overflow-y: scroll;
    }
  }

  &__item {
    border: 1px solid $silver-100;

    &:last-child {
      border-radius: 0 0 6px 6px;
    }
  }
}

.form-search {
  position: relative;
  display: flex;
  max-width: 575px;
  width: 100%;
  z-index: 5;
  margin-right: 48px;

  @include max-w($lg) {
    margin-right: 20px;
  }

  @include max-w($md) {
    margin-right: 28px;
    border: 1px solid $dark-900;
  }

  @include max-w($sm) {
    position: absolute;
    max-width: 100%;
    width: 100%;
    left: 0;
    top: 78px;
    margin-right: 0;
  }

  @include max-w($xs) {
    top: 61px;
  }

  &::before {
    position: absolute;
    content: '';
    left: 13px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    background-image: url(../images/icons/search.svg);
    width: 20px;
    height: 20px;
    pointer-events: none;
  }

  &__input {
    width: 100%;
    height: 50px;
    padding: 15px 165px 15px 52px;
    border: 1px solid transparent;
    border-radius: 6px 0 0 6px;
    outline: 0;

    @include max-w($lg) {
      padding: 14px 20px 15px 41px;
    }

    @include max-w($md) {
      border-radius: 0;
    }


    &::placeholder {
      font-weight: 400;
      letter-spacing: 0.03em;
    }
  }

}

.user-nav {
  display: flex;
  justify-content: space-between;
  max-width: 172px;
  width: 100%;

  @include max-w($md) {
    justify-content: space-around;
    max-width: 135px;
  }

  @include max-w($sm) {
    max-width: 124px;
    width: 100%;
  }

  @include max-w($xs) {
    margin-right: 12px;
    justify-content: center;
    max-width: 73px;
  }


  &__item {
    margin-right: 21px;

    @include max-w($xs) {
      margin-right: 6px;
    }

    &__item:last-child {
      margin-right: 0;
    }

    &:first-child {
      display: none;
    }

    @include max-w($md) {
      &:nth-child(2) {
        display: none;
      }
    }

    @include max-w($sm) {
      &:nth-child(3) {
        display: none;
      }

      &:first-child {
        display: block;
      }
    }
  }
}



.slider-main {
  position: relative;

  &__bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__wrapper {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include max-w($sm) {
      height: 450px;
    }

    @include max-w($xs) {
      height: 320px;
    }
  }

  &__info {
    position: relative;
    width: 100%;
    padding: 24px 24px 24px 22px;
    z-index: 4;

    @include max-w($lg) {
      padding: 24px 24px 24px 79px;
    }

    @include max-w($sm) {
      padding: 15px;
    }

    @include max-w($xs) {
      padding: 15px 15px 15px 0;
    }


    &:before {
      position: absolute;
      content: '';
      background-color: rgba($white, 0.8);
      width: 100%;
      left: 0;
      top: 0%;
      bottom: 0;
      border: 1px solid transparent;
      border-radius: 6px 6px;

      @include max-w($xs) {
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
      }
    }
  }

  &__title {
    position: relative;
    font-family: 'Ruda', sans-serif;
    font-size: 60px;
    line-height: 1.3;
    font-weight: 900;
    max-width: 883px;
    color: $dark-500;
    text-transform: uppercase;
    letter-spacing: 0;
    z-index: 5;
    @include truncate(4, 1.3);

    @include max-w($md) {
      font-size: 50px;
    }

    @include max-w($sm) {
      font-size: 35px;
    }

    @include max-w($xs) {
      font-size: 20px;
      margin-bottom: 15px;
      @include truncate(3, 1.3);
      font-weight: 600;
    }
  }

  &__subtitle {
    position: relative;
    display: block;
    max-width: 750px;
    font-family: 'Ruda', sans-serif;
    font-weight: 900;
    line-height: 1.3;
    font-size: 60px;
    color: $red;
    letter-spacing: 0;
    text-transform: uppercase;
    margin-bottom: 12px;
    z-index: 5;

    @include max-w($md) {
      font-size: 50px;
    }

    @include max-w($sm) {
      font-size: 35px;
    }

    @include max-w($xs) {
      font-size: 20px;
      margin-bottom: 0;
      font-weight: 600;
    }
  }

  &__descr {
    position: relative;
    z-index: 5;
    font-weight: 400;
    max-width: 900px;
    font-size: 16px;
    color: $dark-500;
    margin-bottom: 40px;
    @include truncate(2, 1.4);

    @include max-w($md) {
      max-width: 500px;
    }

    @include max-w($xs) {
      margin-bottom: 24px;
    }
  }

  &__arrowsvg {
    width: 19px;
    height: 32px;
    transition: fill 0.4s;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    padding: 14px 20px;
    background-color: rgba($white, 0.8);
    outline: 0;
    transition: box-shadow 0.5s, background-color 0.4s;
    border-radius: 6px;

    &:focus {
      box-shadow: 0 0 0 3px rgba($green-900, 0.5);
    }

    &:hover {
      background-color: $green-200;
      fill: $green-900;
    }

    &:active {
      fill: $green-900;
    }

    &--prev {
      left: 60px;

      @include max-w($lg) {
        left: 20px;
      }
    }

    &--next {
      right: 60px;
    }
  }

  .slick-dots {
    position: absolute;
    display: flex;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);

    li {
      margin-right: 12px;

      &:last-child {
        margin-right: 0;
      }
    }

    button {
      background-color: $white;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 1px solid $silver;
      font-size: 0;
      padding: 0;
    }
  }

  .slick-active button {
    background-color: $green-900;
    border-color: $green-900;
  }

  .slick-disabled {
    fill: $silver;
  }
}

.advantages {
  background-color: $silver-100;
  padding: 48px 0 23px;
  margin-bottom: 80px;

  @include max-w($xs) {
    padding: 30px 0;
    margin-bottom: 48px;
  }

  &__list {
    display: flex;
    justify-content: center;

    @include max-w($sm) {
      flex-wrap: wrap;
    }
  }

  &__item {
    margin-right: 65px;
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: left top;
    max-width: 264px;
    width: 100%;
    padding-left: 74px;

    @include max-w($sm) {
      margin-bottom: 30px;
      margin-right: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @include max-w($xs) {
      max-width: 100%;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__function {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 7px;
    @include truncate(2, 1.4);
  }

  &__descr {
    display: block;
    font-weight: 400;
    color: $dark-500;
    max-width: 190px;
    @include truncate(2, 1.4);

    @include max-w($sm) {
      max-width: 100%;
    }
  }

}

.filter-mix {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: 700;
  font-size: 15px;
  color: $dark-500;
  margin-bottom: 48px;
  letter-spacing: 0.03em;

  @include max-w($xs) {
    margin-bottom: 16px;
  }

  &__item {
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }

    @include max-w($sm) {
      margin-right: 8px;
      margin-bottom: 6px;
    }
  }

  &__btn {
    position: relative;
    text-transform: uppercase;
    outline: 0;
    border-radius: 3px;
    transition: box-shadow 0.4s, color 0.4s;

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
    }

    &:hover {
      color: $green-900;
    }

    &:active {
      color: $dark-900;
    }
  }

  .mixitup-control-active {
    border-bottom: 3px solid $green-200;
  }
}


.top-products {
  text-align: center;
  margin-bottom: 72px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    justify-content: center;
  }

  &__item {
    margin: 0 15px 30px;

    @include max-w($sm) {
      margin: 0 10px 15px;
    }

    @include max-w($xs) {
      margin: 0 2.5px 5px;
    }
  }
}

.product-card {
  width: 300px;
  position: relative;
  border: 1px solid rgba($dark-900, 0.2);
  border-radius: 6px;
  transition: color 0.3s;

  @include max-w($sm) {
    max-width: 220px;
  }

  @include max-w($xs) {
    max-width: 175px;
  }

  &:hover {
    border-color: $green-900;
  }

  &__top {
    display: flex;
    padding: 12px 12px 7px;
    justify-content: space-between;
    height: 60px;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__btn {
    height: 44px;
    outline: 0;

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
      border-radius: 3px;
    }

    &:hover {
      .product-card__svg {
        fill: $orange;
      }
    }

    &:active {
      .product-card__svg {
        fill: $yellow;
      }
    }
  }

  &__svg {
    width: 32px;
    height: 29px;
    fill: $silver;
    transition: fill 0.5s;

    @include max-w($xs) {
      width: 24px;
      height: 21px;
    }
  }

  &__img {
    object-fit: contain;

    @include max-w($xs) {
      width: 168px;
      height: 126px;
    }
  }

  &__link {
    position: relative;
    display: block;
    transition: background-color 2.5s, box-shadow 0.5s;

    &:hover::before {
      opacity: 1;
    }


    &:hover::after {
      background-color: rgba($dark-900, 0.1);
    }

    &::after {
      position: absolute;
      content: '';
      z-index: 10;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: background-color 0.5s;
    }

    &::before {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      padding: 24px;
      border-radius: 50%;
      background-image: url(../images/icons/search.svg);
      background-color: $white;
      background-repeat: no-repeat;
      background-size: auto;
      background-position: center;
      width: 20px;
      height: 20px;
      transition: opacity 0.5s;

      @include max-w($sm) {
        background-size: auto;
      }
    }
  }

  &__name {
    font-size: 14px;
    letter-spacing: 0.03em;
    display: block;
    font-weight: 600;
    @include truncate(3, 1.4);

    @include max-w($sm) {
      @include truncate(2, 1.4);
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px 18px 18px 18px;
    text-align: left;
    height: 133px;

    @include max-w($sm) {
      padding: 8px 12px 12px 12px;
    }
  }
}

.form-buy {
  position: absolute;
  bottom: 24px;
  right: 24px;

  @include max-w($xs) {
    bottom: 12px;
    right: 12px;

    .counter-block__box {
      position: absolute;
      bottom: 46px;
      left: 13%;
    }
  }
}

.pricing {
  position: relative;
  font-weight: 400;

  &--promo {
    display: flex;
    align-items: flex-end;

    .pricing__newprice {
      margin-right: 12px;
      font-weight: 600;
      font-size: 20px;
      line-height: 1;
      color: $dark-500;
    }

    .pricing__oldprice {
      font-size: 12px;
      line-height: 1;
      order: 2;
    }
  }

  &__newprice {
    display: block;

  }

  &__oldprice {
    position: relative;
    color: $silver;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      border-bottom: 1px solid $silver;
      transform: rotate(-14.99deg);
      width: 100%;
      height: 50%;
    }
  }
}

.basket {
  background-color: $green-900;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 3px;
  outline: 0;
  transition: background-color 0.4s, box-shadow 0.4s;

  &:focus {
    box-shadow: 0 0 0 4px $green-200;
  }

  &:hover {
    background-color: $green-dark;
  }

  &:active {
    box-shadow: inset 0 4px 4px rgba($dark-900, 0.25);

    .basket__svg {
      opacity: 0.5;
    }
  }

  &__svg {
    width: 16px;
    height: 16px;
    fill: $white;
    transition: opacity 0.5s;
  }
}


.footer {
  padding: 30px 0 0;
  background-color: $dark-800;

  &__top {
    margin-bottom: 25px;

    @include max-w($sm) {
      margin-bottom: 20px;
      text-align: center;
    }

  }


  &__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 25px;

    @include max-w($sm) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__bottom {
    position: relative;
    padding: 21px 0 29px 0;

    @include max-w($sm) {
      display: flex;
    }

    &:before {
      position: absolute;
      content: '';
      top: 0;
      width: 100%;
      height: 1px;
      background-color: $white;
      opacity: 0.1;
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include max-w($sm) {
      flex-direction: column;
    }
  }

  &__copy {
    font-weight: 400;
    color: $white;
    text-transform: uppercase;
  }

}

.payment {
  display: flex;
  height: 29px;

  @include max-w($sm) {
    margin-bottom: 24px;
    order: -1;
  }

  &__item {
    margin-right: 24px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    &:last-child {
      margin-right: 0;
    }

    &--visa {
      width: 93px;
      background-image: url(../images/icons/visa.svg);
    }

    &--mc {
      background-image: url(../images/icons/mc.svg);
      width: 49px;

    }
  }
}


.subscribe {
  @include max-w($sm) {
    order: 2;
  }

  &__text {
    line-height: 1;
    font-weight: 400;
    color: $white;
    margin-bottom: 18px;
    max-width: 300px;
    @include truncate(4, 1);
  }
}

.subscribe-form {
  display: flex;
  max-width: 306px;
  width: 100%;
  position: relative;
  z-index: 5;
  outline: 0;
  border: 1px solid transparent;
  margin-right: 73px;

  @include max-w($lg) {
    max-width: 262px;
    margin-right: 25px;
  }

  @include max-w($md) {
    margin-right: 0;
  }

  @include max-w($sm) {
    max-width: 300px;
  }


  &__input {
    max-width: 180px;
    height: 40px;
    padding: 12px;
    border-radius: 6px 0 0 6px;
    border: 1px solid transparent;

    @include max-w($lg) {
      max-width: 142px;
    }

    @include max-w($sm) {
      width: 100%;
      max-width: 300px;
    }

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 1;
    }
  }
}

.footer-menu {
  position: relative;

  @include max-w($sm) {
    &::before {
      position: absolute;
      content: '';
      width: 100vw;
      left: 50%;
      bottom: -10px;
      height: 1px;
      background-color: $white;
      opacity: 0.1;
      transform: translate(-50%);
    }
  }


  @include max-w($sm) {
    margin-bottom: 30px;
  }

  @include max-w($lg) {
    max-width: 560px;
  }

  &__list {
    column-count: 3;
    column-gap: 75px;

    @include max-w($lg) {
      column-gap: 36px;
    }

    @include max-w($sm) {
      column-count: 2;
      column-gap: 0;
    }

  }

  &__item {
    margin-bottom: 18px;

    @include max-w($sm) {
      margin-left: 40px;
    }
  }

  &__link {
    position: relative;
    font-weight: 400;
    color: $white;
    outline: 0;
    border-radius: 6px;
    transition: box-shadow 0.5s, color 0.4s, opacity 0.4s;

    &:before {
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      top: -50%;
      padding: 22px
    }

    &:focus {
      background-color: rgba($dark-900, 0.1);
      box-shadow: 0 0 0 3px $green-100;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      color: $green-200;
    }
  }
}

.contacts {
  font-weight: 400;
  max-width: 214px;
  width: 100%;

  @include max-w($sm) {
    order: -1;
    padding-bottom: 18px;
    margin-bottom: 24px;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      width: 100vw;
      left: 50%;
      bottom: 0;
      height: 1px;
      background-color: $white;
      opacity: 0.1;
      transform: translate(-50%);
    }
  }

  &__info {
    margin-bottom: 14px;
  }

  &__item {
    display: flex;
    margin-bottom: 18px;
    color: $white;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    position: relative;
    outline: 0;
    border-radius: 6px;
    transition: box-shadow 0.5s, color 0.4s, opacity 0.4s;

    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 44px;
      top: -50%;
    }

    &:focus {
      background-color: rgba($dark-900, 0.1);
      box-shadow: 0 0 0 3px $green-100;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      color: $green-200;
    }

  }
}

.social {
  display: flex;

  @include max-w($sm) {
    justify-content: center;
  }

  &__link {
    padding: 4px 7px 4px 5px;
    display: block;
    transition: box-shadow 0.5s, opacity 0.5s;
    outline: 0;

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
      border-radius: 3px;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      fill: $green-200;
    }
  }

  &__svg {
    width: 32px;
    height: 32px;
    transition: opacity 0.5s;
    fill: $white;
  }

}

.banners {
  margin-bottom: 42px;

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__item {
    height: 300px;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: $dark-500;
    max-width: 300px;
    width: 100%;
    margin: 0 15px 30px 15px;

    @include max-w($sm) {
      max-width: 630px;
    }

    @include max-w($xs) {
      margin-bottom: 15px;
    }


    &--white {
      max-width: 630px;

      .banners__info {
        color: $white;
      }

      .banners__text {
        max-width: 346px;
        @include truncate(3, 1.4);

        @include max-w($xs) {
          max-width: 260px;
        }
      }

      .banners__link {
        transition: color 0.5s, border-color 0.5s;
        border-color: $white;

        &:hover {
          border-color: $green-900;
        }
      }
    }
  }

  &__info {
    padding: 76px 0 0 32px;


    @include max-w($xs) {
      padding: 76px 0 0 15px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 18px;
    @include truncate(2, 1);
  }

  &__text {
    font-family: 'Ruda', sans-serif;
    font-weight: 600;
    font-size: 30px;
    max-width: 160px;
    text-transform: uppercase;
    margin-bottom: 12px;
    @include truncate(2, 1.4);

    @include max-w($lg) {
      font-size: 24px;
    }

    @include max-w($xs) {
      margin-bottom: 72px;
    }
  }

  &__link {
    position: relative;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    padding-bottom: 4px;
    border-bottom: 2px solid $dark-500;
    transition: color 0.5s, border-color 0.5s;

    &::before {
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      top: -50%;
      padding: 22px 0;
    }

    &:hover {
      border-color: $green-900;
      color: $dark-900;
    }
  }
}

.promo {
  padding: 72px 0;
  margin-bottom: 72px;
  text-align: center;
  background-color: $silver-100;

  @include max-w($xs) {
    padding: 48px 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }

  &__item {
    margin: 0 15px 30px;

    @include max-w($xs) {
      margin: 0 15px 15px;
    }
  }
}

.card-promo {
  width: 300px;

  &__link {
    background-color: $white;
    display: block;
    position: relative;
    border: 1px solid $silver;
    border-radius: 6px;
    max-width: 300px;
    width: 100%;
    text-align: left;
    padding: 12px 13px;
    display: flex;
    transition: border-color 0.5s;

    &:hover {
      border-color: $green-900;
    }
  }

  &__badges {
    position: absolute;
  }

  &__box {
    position: relative;
    width: 100px;
    margin-right: 12px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 164px;
    width: 100%;
  }

  &__title {
    font-size: 14px;
    letter-spacing: 0.03em;
    font-weight: 600;
    line-height: 1;
    @include truncate(3, 1.4);
  }



  &__ratings {
    position: absolute;
    right: 14px;
    bottom: 12px;
  }
}

.brands {
  margin-bottom: 64px;
  overflow-x: hidden;
}

.brands-slider {

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__box {
    display: flex;
    justify-content: center;
  }

  &__img {
    object-fit: contain;
    opacity: 0.5;
    transition: opacity 0.5s;

    &:hover {
      opacity: 1;
    }
  }

  .slick-track {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

.news {
  margin-bottom: 42px;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    @include max-w($xs) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 24px;
    }
  }

  &__top-title {
    margin-bottom: 0;

    @include max-w($xs) {
      margin-bottom: 12px;
    }
  }

  &__top-link {
    position: relative;
    font-weight: 700;
    line-height: 1.3;
    color: $green-900;
    text-transform: uppercase;
    padding-bottom: 2px;
    border-bottom: 2px solid $green-900;
    outline: 0;
    transition: box-shadow 0.5s, color 0.5s, border-color 0.5s;

    &::before {
      position: absolute;
      content: '';
      padding: 22px 0;
      left: 0;
      right: 0;
      top: -50%;
    }

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
      border-bottom: none;
      border-radius: 3px;
    }

    &:hover {
      color: $green-dark;
      border-color: $green-dark;
    }

    &:active {
      border-color: $green-200;
    }
  }

  &__list {
    display: flex;

    @include max-w($lg) {
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  &__item {
    position: relative;
    box-shadow: 0 3px 3px rgba($dark-900, 0.25);
    border-radius: 6px;
    margin-right: 30px;
    margin-bottom: 30px;

    @include max-w($lg) {
      margin-left: 15px;
      margin-right: 15px;
    }

    @include max-w($xs) {
      margin: 0 00 15px;
    }

    &:last-child {
      margin-right: 0;

      @include max-w($lg) {
        margin-right: 15px;
      }

      @include max-w($xs) {
        margin: 0;
      }
    }
  }
}

.news-card {

  &__img {
    border-radius: 6px 6px 0 0;

    @include max-w($xs) {
      width: 490px;
      height: 200px;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    max-width: 410px;
    width: 100%;
    max-height: 348px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto;

    @include max-w($xs) {
      max-width: 480px;
      padding-bottom: 15px;
    }

    &:hover {
      .news-card__title {
        color: $green-900;
      }
    }

  }

  &__date {
    position: absolute;
    width: 65px;
    top: 0;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 18px 15px 10px 14px;
    background-color: $white;
    border-radius: 0 0 4px 4px;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 4px;
  }

  &__day {
    font-family: 'Ruda', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 1;
  }

  &__title {
    font-weight: 600;
    padding: 18px;
    font-size: 16px;
    line-height: 1.5;
    transition: color 0.5s;
    @include truncate(3, 1.5);

    @include max-w($xs) {
      font-size: 14px;
      padding: 15px 15px 0;
      @include truncate(2, 1.4);
    }
  }
}


.catalog {
  &__title {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.2;
    text-transform: none;
    margin-bottom: 48px;
  }

  &__inner {
    display: flex;
  }
}

.filters {
  max-width: 300px;
  width: 100%;
  margin-right: 30px;
}

.filter {
  margin-bottom: 30px;

  &__btn {
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
    font-family: 'Ruda', sans-serif;
    letter-spacing: 0.03em;
    text-align: left;
    border: 1px solid $silver;
    border-radius: 6px 6px 0 0;
    padding: 17px 0 17px 18px;
  }

  &__item {
    padding: 0 12px 12px 0;

    &:first-child {
      padding: 18px 12px 12px 0;
    }
  }

  &__link {
    display: block;
    color: $dark-900;
    background-color: $white;
    padding-left: 16px;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.3;
    font-weight: 400;
    text-decoration: none;
    border-left: 2px solid transparent;
    text-align: left;
    transition: color 0.5s, border-color 0.5s;



    &:focus {
      border-color: $green-200;
      outline: 0;
    }

    &:hover {
      color: $green-900;
      border-left-color: $green-900;
    }

    &:active {
      color: $silver;
    }
  }

  &__submenu {
    border: 1px solid $silver;
    border-top: transparent;
    border-radius: 0 0 6px 6px;
    max-height: 300px;
    overflow-y: scroll;

    .scrollbar-thumb {
      width: 4px;
      border-radius: 3px;
      left: -2px;
      background-color: $silver;
    }

    .scrollbar-track-y {
      width: 4px;
    }

    .scrollbar-track {
      background-color: transparent;
    }
  }
}

.filter-brands {

  &__label {
    display: block;
    padding-left: 55px;
    font-size: 18px;
    line-height: 1.2;
    color: $dark-500;
    cursor: pointer;
    font-weight: 400;
    position: relative;
  }

  &__input {
    @extend %checkbox-hidden;

    &:checked+.filter-brands__checkbox {
      background-image: url(../images/icons/check.svg);
      background-repeat: no-repeat;
      background-position: center;
      border-color: $dark-500;
    }
  }

  &__checkbox {
    display: block;
    width: 24px;
    height: 24px;
    border: 1px solid $silver;
    background-color: $silver-100;
    position: absolute;
    border-radius: 3px;
    left: 18px;
    top: -2px;
  }
}


.filter-offer {

  &__label {
    display: block;
    padding-left: 55px;
    font-size: 18px;
    line-height: 1.2;
    color: $dark-500;
    cursor: pointer;
    font-weight: 400;
    position: relative;
  }

  &__input {
    @extend %checkbox-hidden;

    &:checked+.filter-offer__checkbox {
      background-image: url(../images/icons/check.svg);
      background-repeat: no-repeat;
      background-position: center;
      border-color: $dark-500;
    }
  }

  &__checkbox {
    display: block;
    width: 24px;
    height: 24px;
    border: 1px solid $silver;
    background-color: $silver-100;
    position: absolute;
    border-radius: 3px;
    left: 18px;
    top: -2px;
  }
}


.filter-price {
  &__form {
    padding: 0 18px;
  }

  &__box-input {
    width: 80px;
    height: 40px;
    text-align: center;
    border-radius: 3px;
    background-color: $silver-100;
    border: 1px solid $silver;
    margin: 0 3px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
  }

  &__box-label {
    font-family: 'Ruda', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $silver;
  }

  .irs-min,
  .irs-max {
    display: none;
  }

  .irs-from,
  .irs-to,
  .irs-single {
    display: none;
  }

  .irs--round .irs-handle {
    width: 18px;
    height: 18px;
    border: none;
    top: 27.5px;
    background-color: $green-900;
    box-shadow: none;
  }

  .irs--round .irs-line {
    background-color: $silver;
    height: 2px;
  }

  .irs--round .irs-bar {
    height: 2px;
    background-color: $green-900;
  }
}


.catalog-content {
  width: 100%;
}

.filter-content {
  display: flex;
  justify-content: flex-end;

  &__svg {
    width: 35px;
    height: 35px;
    fill: $silver;
  }

  &__select-sort {
    width: 150px;
    height: 47px;
    line-height: 1.2;
    font-weight: 400;
    color: $dark-500;
    margin-right: 15px;
  }

  &__select-show {
    width: 100px;
    height: 47px;
    line-height: 1.2;
    font-weight: 400;
    color: $dark-500;
    margin-right: 15px;
  }

  &__btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 47px;
    width: 47px;
    border-radius: 3px;
    margin-right: 15px;
    background-color: $silver-100;

    &--active {
      .filter-content__svg {
        fill: $green-900;
      }
    }


    &:last-child {
      margin-right: 0;
    }
  }

  .jq-selectbox__select {
    height: 47px;
    padding: 0 27px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: 1px solid $silver;
    box-shadow: none;
    text-shadow: none;
  }

  .jq-selectbox.focused .jq-selectbox__select {
    border-radius: 0;
    border-color: $dark-500;
  }

  .jq-selectbox .placeholder {
    display: none;
  }

  .jq-selectbox__select-text {
    font-family: 'OpenSans', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    color: $dark-500;
    letter-spacing: 0.03em;
  }

  .jq-selectbox__trigger {
    border: none;
  }

  .jq-selectbox__trigger-arrow {
    content: '';
    width: 10px;
    height: 11px;
    border: none;
    background-image: url(../images/icons/select-arrow.svg);
    background-repeat: no-repeat;
    background-position: center center;
    top: 50%;
    transform: translateY(-50%);
  }

  .jq-selectbox__dropdown {
    font-family: 'OpenSans', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    color: $dark-500;
    letter-spacing: 0.03em;
    box-shadow: none;
    border: none;
    margin: 0;
  }

  .jq-selectbox li {
    padding: 15px 13px 15px 8px;
    background-color: $white;
    color: $dark-500;
  }

  .jq-selectbox li.sel {
    display: none;
  }

  .jq-selectbox__dropdown ul {
    border-radius: 0 0 6px 6px;
    border: 1px solid $silver;
  }

}