.product-card {
  max-width: 300px;
  width: 100%;
  position: relative;
  border: 1px solid rgba($dark-900, 0.2);
  border-radius: 6px;
  transition: color 0.3s;

  @include max-w($sm) {
    max-width: 220px;
  }

  @include max-w($xs) {
    max-width: 170px;
  }

  &:hover {
    border-color: $green-900;
  }

  &--grid {
    @include max-w($md) {
      max-width: 232px;
    }

    @include max-w($xs) {
      max-width: 170px;
    }

    .product-card__bottom {
      height: 122px;
      padding: 5px 18px 18px 18px;

      @include max-w($sm) {
        height: 150px;
      }

      @include max-w($xs) {
        height: 159px;
        padding: 8px 15px 8px 11px;
      }

      .product-card__btn {
        @include max-w($xs) {
          right: 6px;
          top: 9px;
        }
      }

    }

    .product-card__img {
      @include max-w($sm) {
        height: 120px;
      }

      @include max-w($xs) {
        height: 113px;
      }
    }

    .form-buy__box {
      @include max-w($sm) {
        bottom: 40px;
      }
    }

    .availability {
      @include max-w($xs) {
        font-size: 8px;
      }
    }

    .product-card__status {
      @include max-w($xs) {
        padding: 0 12px;
      }
    }
  }

  &--list {
    max-width: 462px;
    height: 162px;
    display: flex;

    .product-card__link {
      margin-top: 0;
    }

    .product-card__img {
      max-width: 200px;
      height: 162px;

      @include max-w($xl) {
        max-width: 150px;
      }
    }

    .product-card__status {
      order: 3;
      width: 100%;
      padding: 0;
    }

    .product-card__info {
      top: 5px;
      left: 7px;
    }

    .product-card__bottom {
      padding: 16px 0 12px;
      height: 132px;
      order: 2;
    }

    .product-card__center {
      width: 100%;
      padding: 11px 15px 0 21px;

      @include max-w($xl) {
        padding: 11px 7px 0 0;
      }

    }

    .product-card__name {
      max-width: 162px;

      @include max-w($xl) {
        max-width: 142px;
      }
    }

    .product-card__buy {
      bottom: 12px;
      right: 18px;

      @include max-w($xl) {
        right: 8px;
      }
    }

    .product-card__btn {
      top: 50%;
      transform: translateY(-50%);
      right: 11px;

      @include max-w($xl) {
        right: 2px;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 12px;
    left: 13px;
  }

  &__btn {
    height: 44px;
    outline: 0;
    position: absolute;
    z-index: 7;
    right: 8px;
    top: 12px;

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
      border-radius: 3px;
    }

    &:hover .product-card__svg {
      fill: $orange;
    }

    &:active .product-card__svg {
      fill: $yellow;
    }
  }

  &__svg {
    width: 32px;
    height: 29px;
    fill: $silver;
    transition: fill 0.5s;

    @include max-w($xs) {
      width: 24px;
      height: 21px;
    }
  }

  &__img {
    object-fit: contain;

    @include max-w($xs) {
      width: 168px;
      height: 126px;
    }
  }

  &__link {
    margin-top: 56px;
    position: relative;
    display: block;
    transition: background-color 2.5s, box-shadow 0.5s;

    &:hover::before {
      opacity: 1;
    }


    &:hover::after {
      background-color: rgba($dark-900, 0.1);
    }

    &::after {
      position: absolute;
      content: '';
      z-index: 5;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: background-color 0.5s;
    }

    &::before {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      padding: 24px;
      border-radius: 50%;
      background-image: url(../images/icons/search.svg);
      background-color: $white;
      background-repeat: no-repeat;
      background-size: auto;
      background-position: center;
      transition: opacity 0.5s;

      @include max-w($sm) {
        background-size: auto;
      }
    }
  }

  &__buy {
    position: absolute;
    bottom: 18px;
    right: 18px;

    @include max-w($xs) {
      bottom: 12px;
      right: 12px;

      .form-buy__box {
        position: absolute;
        bottom: 46px;
        left: 13%;
      }
    }
  }

  &__name {
    font-size: 14px;
    letter-spacing: 0.03em;
    display: block;
    font-weight: 600;
    @include truncate(3, 1.4);

    @include max-w($sm) {
      @include truncate(2, 1.4);
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 22px 18px 18px 18px;
    text-align: left;
    height: 143px;

    @include max-w($sm) {
      padding: 8px 12px 12px 12px;
    }
  }

  &__status {
    padding: 0 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}