.rating {
  display: flex;
  align-items: center;

  &--catalog {
    .rating__num {
      font-size: 10px;
    }

    .rating__svg {
      width: 12px;
      height: 12px;
    }
  }

  &__num {
    font-weight: 700;
    line-height: 1;
    color: $dark-500;
    margin-right: 2px;
  }

  &__svg {
    width: 16px;
    height: 16px;
    fill: $yellow;
  }
}