<div class="brands-slider">

  <div class="container">

    <div class="brands-slider__inner">
      <ul class="brands-slider__list">

        <li class="brands-slider__item">
          <div class="brands-slider__box">
            <img class="brands-slider__img" src="images/brands/sprite.svg" alt="Sprite" width="80" height="30">
          </div>
        </li>

        <li class="brands-slider__item">
          <div class="brands-slider__box">
            <img class="brands-slider__img" src="images/brands/dr-pepper.svg" alt="dDr-pepper" width="80" height="57">
          </div>
        </li>

        <li class="brands-slider__item">
          <div class="brands-slider__box">
            <img class="brands-slider__img" src="images/brands/coca-cola.svg" alt="Coca-Cola" width="80" height="26">
          </div>
        </li>

        <li class="brands-slider__item">
          <div class="brands-slider__box">
            <img class="brands-slider__img" src="images/brands/pepsi.svg" alt="Pepsi" width="80" height="30">
          </div>
        </li>

        <li class="brands-slider__item">
          <div class="brands-slider__box">
            <img class="brands-slider__img" src="images/brands/redbull.svg" alt="Redbull" width="80" height="49">
          </div>
        </li>

        <li class="brands-slider__item">
          <div class="brands-slider__box">
            <img class="brands-slider__img" src="images/brands/fanta.svg" alt="Fanta" width="80" height="59">
          </div>
        </li>

        <li class="brands-slider__item">
          <div class="brands-slider__box">
            <img class="brands-slider__img" src="images/brands/coca-cola.svg" alt="Coca-Cola" width="80" height="26">
          </div>
        </li>

      </ul>

    </div>
  </div>
</div>