<section class="cards-slider">

  <div class="container">

    <div class="cards-slider__top">
      <h3 class="cards-slider__title">вас может заинтересовать </h3>
      <div class="cards-slider__buttons">
        <button type="button" class="cards-slider__arrow cards-slider__arrow--prev"><svg class="slider-main__arrowsvg">
            <use xlink:href="images/sprite.svg#arrow-left"></use>
          </svg>
        </button>
        <button type="button" class="cards-slider__arrow cards-slider__arrow--next"><svg class="slider-main__arrowsvg">
            <use xlink:href="images/sprite.svg#arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>


    <div class="cards-slider__inner">

      <ul class="cards-slider__list">

        <li class="cards-slider__item">
          <article class="product-card">
            <div class="product-card__info">
              <div class="badge badge--red">-30%</div>
            </div>
            <button class="product-card__btn" type="button">
              <span class="sr-only">Добавить в избранное</span>
              <svg class="product-card__svg">
                <use xlink:href="images/sprite.svg#hearts"></use>
              </svg>
            </button>

            <a class="product-card__link" href="#">
              <img class="product-card__img" src="images/content/top/juice.jpg"
                alt="Напиток сокосодержащий Sanpellegrino Aranciata" width="300" height="215">
            </a>

            <div class="product-card__center">
              <div class="product-card__status">
                <div class="availability">
                  в наличии
                </div>
                <div class="rating rating--catalog">
                  <span class="rating__num">4.5</span>
                  <svg class="rating__svg">
                    <use xlink:href="images/sprite.svg#star"></use>
                  </svg>
                </div>
              </div>

              <div class="product-card__bottom">
                <h3 class="product-card__name">
                  Напиток сокосодержащий Sanpellegrino Aranciata Orange Красный апельсин безалкогольн...
                </h3>
                <div class="pricing">
                  <span class="pricing__oldprice">299<span></span>
                  </span>
                  <span class="pricing__newprice">199<span> ₽</span>
                  </span>
                </div>
              </div>

            </div>

            <div class="product-card__buy">
              <form class="form-buy">

                <div class="form-buy__box">
                  <button class="form-buy__btn form-buy__btn--minus" type="button">-
                    <span class="sr-only">минус</span>
                  </button>
                  <label class="sr-only" for="counter-merchandise">Введите колличество которое хотите
                    купить</label>
                  <input class="form-buy__num" name="counter-merchandise" id="counter-merchandise" type="nubmer"
                    value="1" step="1" min="1" max="99">
                  <button class="form-buy__btn form-buy__btn--plus" type="button">+
                    <span class="sr-only">плюс</span>
                  </button>
                </div>

                <button class="basket" type="submit">
                  <span class="sr-only">Добавить в корзину</span>
                  <svg class="basket__svg">
                    <use xlink:href="images/sprite.svg#cart"></use>
                  </svg>
                </button>
              </form>
            </div>

          </article>
        </li>

        <li class="cards-slider__item">
          <article class="product-card">
            <div class="product-card__info">
              <div class="badge badge--red">-30%</div>
            </div>
            <button class="product-card__btn" type="button">
              <span class="sr-only">Добавить в избранное</span>
              <svg class="product-card__svg">
                <use xlink:href="images/sprite.svg#hearts"></use>
              </svg>
            </button>

            <a class="product-card__link" href="#">
              <img class="product-card__img" src="images/content/top/juice.jpg"
                alt="Напиток сокосодержащий Sanpellegrino Aranciata" width="300" height="215">
            </a>

            <div class="product-card__center">
              <div class="product-card__status">
                <div class="availability">
                  в наличии
                </div>
                <div class="rating rating--catalog">
                  <span class="rating__num">4.5</span>
                  <svg class="rating__svg">
                    <use xlink:href="images/sprite.svg#star"></use>
                  </svg>
                </div>
              </div>

              <div class="product-card__bottom">
                <h3 class="product-card__name">
                  Напиток сокосодержащий Sanpellegrino Aranciata Orange Красный апельсин безалкогольн...
                </h3>
                <div class="pricing">
                  <span class="pricing__oldprice">299<span></span>
                  </span>
                  <span class="pricing__newprice">199<span> ₽</span>
                  </span>
                </div>
              </div>

            </div>

            <div class="product-card__buy">
              <form class="form-buy">

                <div class="form-buy__box">
                  <button class="form-buy__btn form-buy__btn--minus" type="button">-
                    <span class="sr-only">минус</span>
                  </button>
                  <label class="sr-only" for="counter-merchandise">Введите колличество которое хотите
                    купить</label>
                  <input class="form-buy__num" name="counter-merchandise" id="counter-merchandise" type="nubmer"
                    value="1" step="1" min="1" max="99">
                  <button class="form-buy__btn form-buy__btn--plus" type="button">+
                    <span class="sr-only">плюс</span>
                  </button>
                </div>

                <button class="basket" type="submit">
                  <span class="sr-only">Добавить в корзину</span>
                  <svg class="basket__svg">
                    <use xlink:href="images/sprite.svg#cart"></use>
                  </svg>
                </button>
              </form>
            </div>

          </article>
        </li>


        <li class="cards-slider__item">
          <article class="product-card">
            <div class="product-card__info">
              <div class="badge badge--red">-30%</div>
            </div>
            <button class="product-card__btn" type="button">
              <span class="sr-only">Добавить в избранное</span>
              <svg class="product-card__svg">
                <use xlink:href="images/sprite.svg#hearts"></use>
              </svg>
            </button>

            <a class="product-card__link" href="#">
              <img class="product-card__img" src="images/content/top/juice.jpg"
                alt="Напиток сокосодержащий Sanpellegrino Aranciata" width="300" height="215">
            </a>

            <div class="product-card__center">
              <div class="product-card__status">
                <div class="availability">
                  в наличии
                </div>
                <div class="rating rating--catalog">
                  <span class="rating__num">4.5</span>
                  <svg class="rating__svg">
                    <use xlink:href="images/sprite.svg#star"></use>
                  </svg>
                </div>
              </div>

              <div class="product-card__bottom">
                <h3 class="product-card__name">
                  Напиток сокосодержащий Sanpellegrino Aranciata Orange Красный апельсин безалкогольн...
                </h3>
                <div class="pricing">
                  <span class="pricing__oldprice">299<span></span>
                  </span>
                  <span class="pricing__newprice">199<span> ₽</span>
                  </span>
                </div>
              </div>

            </div>

            <div class="product-card__buy">
              <form class="form-buy">

                <div class="form-buy__box">
                  <button class="form-buy__btn form-buy__btn--minus" type="button">-
                    <span class="sr-only">минус</span>
                  </button>
                  <label class="sr-only" for="counter-merchandise">Введите колличество которое хотите
                    купить</label>
                  <input class="form-buy__num" name="counter-merchandise" id="counter-merchandise" type="nubmer"
                    value="1" step="1" min="1" max="99">
                  <button class="form-buy__btn form-buy__btn--plus" type="button">+
                    <span class="sr-only">плюс</span>
                  </button>
                </div>

                <button class="basket" type="submit">
                  <span class="sr-only">Добавить в корзину</span>
                  <svg class="basket__svg">
                    <use xlink:href="images/sprite.svg#cart"></use>
                  </svg>
                </button>
              </form>
            </div>

          </article>
        </li>


        <li class="cards-slider__item">
          <article class="product-card">
            <div class="product-card__info">
              <div class="badge badge--red">-30%</div>
            </div>
            <button class="product-card__btn" type="button">
              <span class="sr-only">Добавить в избранное</span>
              <svg class="product-card__svg">
                <use xlink:href="images/sprite.svg#hearts"></use>
              </svg>
            </button>

            <a class="product-card__link" href="#">
              <img class="product-card__img" src="images/content/top/juice.jpg"
                alt="Напиток сокосодержащий Sanpellegrino Aranciata" width="300" height="215">
            </a>

            <div class="product-card__center">
              <div class="product-card__status">
                <div class="availability">
                  в наличии
                </div>
                <div class="rating rating--catalog">
                  <span class="rating__num">4.5</span>
                  <svg class="rating__svg">
                    <use xlink:href="images/sprite.svg#star"></use>
                  </svg>
                </div>
              </div>

              <div class="product-card__bottom">
                <h3 class="product-card__name">
                  Напиток сокосодержащий Sanpellegrino Aranciata Orange Красный апельсин безалкогольн...
                </h3>
                <div class="pricing">
                  <span class="pricing__oldprice">299<span></span>
                  </span>
                  <span class="pricing__newprice">199<span> ₽</span>
                  </span>
                </div>
              </div>

            </div>

            <div class="product-card__buy">
              <form class="form-buy">

                <div class="form-buy__box">
                  <button class="form-buy__btn form-buy__btn--minus" type="button">-
                    <span class="sr-only">минус</span>
                  </button>
                  <label class="sr-only" for="counter-merchandise">Введите колличество которое хотите
                    купить</label>
                  <input class="form-buy__num" name="counter-merchandise" id="counter-merchandise" type="nubmer"
                    value="1" step="1" min="1" max="99">
                  <button class="form-buy__btn form-buy__btn--plus" type="button">+
                    <span class="sr-only">плюс</span>
                  </button>
                </div>

                <button class="basket" type="submit">
                  <span class="sr-only">Добавить в корзину</span>
                  <svg class="basket__svg">
                    <use xlink:href="images/sprite.svg#cart"></use>
                  </svg>
                </button>
              </form>
            </div>

          </article>
        </li>


        <li class="cards-slider__item">
          <article class="product-card">
            <div class="product-card__info">
              <div class="badge badge--red">-30%</div>
            </div>
            <button class="product-card__btn" type="button">
              <span class="sr-only">Добавить в избранное</span>
              <svg class="product-card__svg">
                <use xlink:href="images/sprite.svg#hearts"></use>
              </svg>
            </button>

            <a class="product-card__link" href="#">
              <img class="product-card__img" src="images/content/top/juice.jpg"
                alt="Напиток сокосодержащий Sanpellegrino Aranciata" width="300" height="215">
            </a>

            <div class="product-card__center">
              <div class="product-card__status">
                <div class="availability">
                  в наличии
                </div>
                <div class="rating rating--catalog">
                  <span class="rating__num">4.5</span>
                  <svg class="rating__svg">
                    <use xlink:href="images/sprite.svg#star"></use>
                  </svg>
                </div>
              </div>

              <div class="product-card__bottom">
                <h3 class="product-card__name">
                  Напиток сокосодержащий Sanpellegrino Aranciata Orange Красный апельсин безалкогольн...
                </h3>
                <div class="pricing">
                  <span class="pricing__oldprice">299<span></span>
                  </span>
                  <span class="pricing__newprice">199<span> ₽</span>
                  </span>
                </div>
              </div>

            </div>

            <div class="product-card__buy">
              <form class="form-buy">

                <div class="form-buy__box">
                  <button class="form-buy__btn form-buy__btn--minus" type="button">-
                    <span class="sr-only">минус</span>
                  </button>
                  <label class="sr-only" for="counter-merchandise">Введите колличество которое хотите
                    купить</label>
                  <input class="form-buy__num" name="counter-merchandise" id="counter-merchandise" type="nubmer"
                    value="1" step="1" min="1" max="99">
                  <button class="form-buy__btn form-buy__btn--plus" type="button">+
                    <span class="sr-only">плюс</span>
                  </button>
                </div>

                <button class="basket" type="submit">
                  <span class="sr-only">Добавить в корзину</span>
                  <svg class="basket__svg">
                    <use xlink:href="images/sprite.svg#cart"></use>
                  </svg>
                </button>
              </form>
            </div>

          </article>
        </li>


        <li class="cards-slider__item">
          <article class="product-card">
            <div class="product-card__info">
              <div class="badge badge--red">-30%</div>
            </div>
            <button class="product-card__btn" type="button">
              <span class="sr-only">Добавить в избранное</span>
              <svg class="product-card__svg">
                <use xlink:href="images/sprite.svg#hearts"></use>
              </svg>
            </button>

            <a class="product-card__link" href="#">
              <img class="product-card__img" src="images/content/top/juice.jpg"
                alt="Напиток сокосодержащий Sanpellegrino Aranciata" width="300" height="215">
            </a>

            <div class="product-card__center">
              <div class="product-card__status">
                <div class="availability">
                  в наличии
                </div>
                <div class="rating rating--catalog">
                  <span class="rating__num">4.5</span>
                  <svg class="rating__svg">
                    <use xlink:href="images/sprite.svg#star"></use>
                  </svg>
                </div>
              </div>

              <div class="product-card__bottom">
                <h3 class="product-card__name">
                  Напиток сокосодержащий Sanpellegrino Aranciata Orange Красный апельсин безалкогольн...
                </h3>
                <div class="pricing">
                  <span class="pricing__oldprice">299<span></span>
                  </span>
                  <span class="pricing__newprice">199<span> ₽</span>
                  </span>
                </div>
              </div>

            </div>

            <div class="product-card__buy">
              <form class="form-buy">

                <div class="form-buy__box">
                  <button class="form-buy__btn form-buy__btn--minus" type="button">-
                    <span class="sr-only">минус</span>
                  </button>
                  <label class="sr-only" for="counter-merchandise">Введите колличество которое хотите
                    купить</label>
                  <input class="form-buy__num" name="counter-merchandise" id="counter-merchandise" type="nubmer"
                    value="1" step="1" min="1" max="99">
                  <button class="form-buy__btn form-buy__btn--plus" type="button">+
                    <span class="sr-only">плюс</span>
                  </button>
                </div>

                <button class="basket" type="submit">
                  <span class="sr-only">Добавить в корзину</span>
                  <svg class="basket__svg">
                    <use xlink:href="images/sprite.svg#cart"></use>
                  </svg>
                </button>
              </form>
            </div>

          </article>
        </li>


      </ul>
    </div>


  </div>

</section>