<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <a class="logo logo--center" href="#">
        <img class="logo__img" src="images/icons/logo.svg" alt="логотип" width="200" height="60">
      </a>
    </div>

    <div class="footer__content">

      <div class="subscribe">
        <div class="subscribe__text">
          <p>
            Следите за нашими акциями
          </p>
        </div>

        <form class="subscribe-form">
          <label class="sr-only" for="subscribe-form__input">Введите email чтобы подписаться</label>
          <input class="subscribe-form__input" type="email" id="subscribe-form__input" name="subscribe-input"
            placeholder="email@email.com" required>
          <button class="btn btn--subscribe" type="submit">
            подписаться
          </button>
        </form>

      </div>

      <nav class="footer__menu">
        <ul class="footer__menu-list">

          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">
              О нас
            </a>
          </li>

          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">
              Контакты
            </a>
          </li>

          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">
              Публичная оферта
            </a>
          </li>

          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">
              Оплата и доставка
            </a>
          </li>

          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">
              Вакансии
            </a>
          </li>

          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">
              Акции
            </a>
          </li>

          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">
              Отзывы
            </a>
          </li>

          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">
              Новости
            </a>
          </li>

        </ul>
      </nav>


      <div class="contacts">
        <address class="contacts__info">
          <div class="contacts__item">
            Горячая линия
            <a class="contacts__link" href="tel:+7907288365">+7 907 288 365</a>
          </div>
          <div class="contacts__item">
            Санкт-Петербург, ул. Ленина, 1
          </div>
        </address>

        <ul class="social">
          <li class="social__item">
            <a class="social__link" href="#" target="_blank" width="32" height="32">
              <svg class="social__svg">
                <use xlink:href="images/sprite.svg#facebook"></use>
              </svg>
              <span class="sr-only">Посмотреть facebook</span>
            </a>
          </li>

          <li class="social__item">
            <a class="social__link" href="#" target="_blank" width="32" height="32">
              <svg class="social__svg">
                <use xlink:href="images/sprite.svg#youtube"></use>
              </svg>
              <span class="sr-only">Посмотреть youtube</span>
            </a>
          </li>

          <li class="social__item">
            <a class="social__link" href="#" target="_blank" width="32" height="32">
              <svg class="social__svg">
                <use xlink:href="images/sprite.svg#telegram"></use>
              </svg>
              <span class="sr-only">Посмотреть telegram</span>
            </a>
          </li>

          <li class="social__item">
            <a class="social__link" href="#" target="_blank" width="32" height="32">
              <svg class="social__svg">
                <use xlink:href="images/sprite.svg#instagram"></use>
              </svg>
              <span class="sr-only">Посмотреть instagram</span>
            </a>
          </li>

        </ul>
      </div>

    </div>
  </div>

  <div class="footer__bottom">
    <div class="container">
      <div class="footer__box">
        <div class="footer__copy">
          © 2021 фрешок
        </div>
        <ul class="payment">

          <li class="payment__item payment__item--visa"></li>

          <li class="payment__item payment__item--mc"></li>

        </ul>
      </div>
    </div>

  </div>

</footer>