<header class="header" id="header">

  <nav class="header__nav">
    <div class="header__top">
      <div class="container">

        <div class="header__top-wrapper">

          <button class="burger" type="button">
            <span class="burger__line"></span>
            <span class="sr-only">открыть меню / закрыть меню</span>
          </button>

          <div class="rightside-menu rightside-menu--close">
            <a class="rightside-menu__logo" href="#">
              <img class="rightside-menu__logo-img" src="images/icons/logo-green.svg" alt="лого" width="200"
                height="60">
            </a>

            <button class="rightside-menu__close" type="button">
              <svg class="rightside-menu__svg">
                <use xlink:href="images/sprite.svg#close-btn"></use>
              </svg>
            </button>

            <div class="rightside-menu__authorization">
              <a class="rightside-menu__link rightside-menu__link--authorization" href="#">Вход</a>
              <a class="rightside-menu__link rightside-menu__link--authorization" href="#"> Регистрация</a>
            </div>

            <div class="drop">
              <button class="drop__btn" href="#" type="button">
                Каталог товаров
              </button>
              <ul class="drop__submenu">
                <li class="drop__item">
                  <a class="drop__link" href="#">
                    Овощи и фрукты
                  </a>
                </li>
                <li class="drop__item">
                  <a class="drop__link" href="#">
                    Бакалея
                  </a>
                </li>
                <li class="drop__item">
                  <a class="drop__link" href="#">
                    Хлеб
                  </a>
                </li>
                <li class="drop__item">
                  <a class="drop__link" href="#">
                    Мясо
                  </a>
                </li>
                <li class="drop__item">
                  <a class="drop__link" href="#">
                    Колбаса
                  </a>
                </li>
                <li class="drop__item">
                  <a class="drop__link" href="#">
                    Рыба
                  </a>
                </li>
                <li class="drop__item">
                  <a class="drop__link" href="#">
                    Алкоголь
                  </a>
                </li>
                <li class="drop__item">
                  <a class="drop__link" href="#">
                    Напитки
                  </a>
                </li>
                <li class="drop__item">
                  <a class="drop__link" href="#">
                    Торты
                  </a>
                </li>
                <li class="drop__item">
                  <a class="drop__link" href="#">
                    Мясо
                  </a>
                </li>
                <li class="drop__item">
                  <a class="drop__link" href="#">
                    Чай, кофе
                  </a>
                </li>
              </ul>
            </div>

            <div class="rightside-menu__contacts">
              <address class="rightside-menu__info">
                <div class="rightside-menu__info-item rightside-menu__info-item--tel">
                  <a class="rightside-menu__link rightside-menu__link--info" href="tel:+7907288365">+7 907
                    288 365</a>
                </div>
                <div class="rightside-menu__info-item rightside-menu__info-item--location">
                  Санкт-Петербург, ул. Ленина, 1
                </div>
              </address>

              <ul class="social social--rightside-menu">
                <li class="social__item">
                  <a class="social__link" href="#" target="_blank" width="32" height="32">
                    <svg class="social__svg social__svg--black">
                      <use xlink:href="images/sprite.svg#facebook"></use>
                    </svg>
                    <span class="sr-only">Посмотреть facebook</span>
                  </a>
                </li>

                <li class="social__item">
                  <a class="social__link" href="#" target="_blank" width="32" height="32">
                    <svg class="social__svg social__svg--black">
                      <use xlink:href="images/sprite.svg#youtube"></use>
                    </svg>
                    <span class="sr-only">Посмотреть youtube</span>
                  </a>
                </li>

                <li class="social__item">
                  <a class="social__link" href="#" target="_blank" width="32" height="32">
                    <svg class="social__svg social__svg--black">
                      <use xlink:href="images/sprite.svg#telegram"></use>
                    </svg>
                    <span class="sr-only">Посмотреть telegram</span>
                  </a>
                </li>

                <li class="social__item">
                  <a class="social__link" href="#" target="_blank" width="32" height="32">
                    <svg class="social__svg social__svg--black">
                      <use xlink:href="images/sprite.svg#instagram"></use>
                    </svg>
                    <span class="sr-only">Посмотреть instagram</span>
                  </a>
                </li>

              </ul>



            </div>

            <nav class="rightside-menu__navigation">
              <ul class="rightside-menu__navigation-list">
                <li class="rightside-menu__navigation-item">
                  <a class="rightside-menu__link rightside-menu__link--navigation" href="#">
                    Доставка
                  </a>
                </li>

                <li class="rightside-menu__navigation-item">
                  <a class="rightside-menu__link rightside-menu__link--navigation" href="#">
                    О нас
                  </a>
                </li>

                <li class="rightside-menu__navigation-item">
                  <a class="rightside-menu__link rightside-menu__link--navigation" href="#">
                    Новости
                  </a>
                </li>

                <li class="rightside-menu__navigation-item">
                  <a class="rightside-menu__link rightside-menu__link--navigation" href="#">
                    Контакты
                  </a>
                </li>

                <li class="rightside-menu__navigation-item">
                  <a class="rightside-menu__link rightside-menu__link--navigation" href="#">
                    Акции
                  </a>
                </li>

                <li class="rightside-menu__navigation-item">
                  <a class="rightside-menu__link rightside-menu__link--navigation" href="#">
                    Вакансии
                  </a>
                </li>

                <li class="rightside-menu__navigation-item">
                  <a class="rightside-menu__link rightside-menu__link--navigation" href="#">
                    Отзывы
                  </a>
                </li>

                <li class="rightside-menu__navigation-item">
                  <a class="rightside-menu__link rightside-menu__link--navigation" href="#">
                    Публичная оферта
                  </a>
                </li>

              </ul>
            </nav>

          </div>

          <ul class="header__info">
            <li class="header__info-item">
              <a class="link-services" href="#">
                <svg class="link-services__svg">
                  <use xlink:href="images/sprite.svg#delivery"></use>
                </svg>
                <span class="link-services__text">
                  адрес и время доставки
                </span>
              </a>
            </li>
            <li class="header__info-item">
              <a class="link-services" href="#">
                <svg class="link-services__svg">
                  <use xlink:href="images/sprite.svg#tel"></use>
                </svg>
                <span class="link-services__text">
                  горячая линия 24/7
                </span>
              </a>
            </li>
          </ul>

          <ul class="menu">
            <li class="menu__item">
              <a class="link-services" href="#">
                доставка
              </a>
            </li>
            <li class="menu__item">
              <a class="link-services" href="#">
                о нас
              </a>
            </li>
            <li class="menu__item">
              <a class="link-services" href="#">
                новости
              </a>
            </li>
          </ul>

        </div>
      </div>
    </div>


    <div class="header__content">

      <div class="container">
        <div class="header__content-wrapper">

          <a class="logo" href="#">
            <picture class="logo__img">
              <source srcset="images/icons/logo.svg" media="(min-width:481px)">
              <img src="images/icons/logo-mobile.svg" alt="logo">
            </picture>
          </a>

          <div class="drop drop--md">
            <button class="drop__btn" href="#" type="button">
              Каталог продуктов
              <svg class="drop__svg">
                <use xlink:href="images/sprite.svg#chevron"></use>
              </svg>
            </button>
            <ul class="drop__submenu">
              <li class="drop__item">
                <a class="drop__link" href="#">
                  Овощи и фрукты
                </a>
              </li>
              <li class="drop__item">
                <a class="drop__link" href="#">
                  Бакалея
                </a>
              </li>
              <li class="drop__item">
                <a class="drop__link" href="#">
                  Хлеб
                </a>
              </li>
              <li class="drop__item">
                <a class="drop__link" href="#">
                  Мясо
                </a>
              </li>
              <li class="drop__item">
                <a class="drop__link" href="#">
                  Колбаса
                </a>
              </li>
              <li class="drop__item">
                <a class="drop__link" href="#">
                  Рыба
                </a>
              </li>
              <li class="drop__item">
                <a class="drop__link" href="#">
                  Алкоголь
                </a>
              </li>
              <li class="drop__item">
                <a class="drop__link" href="#">
                  Напитки
                </a>
              </li>
              <li class="drop__item">
                <a class="drop__link" href="#">
                  Торты
                </a>
              </li>
              <li class="drop__item">
                <a class="drop__link" href="#">
                  Мясо
                </a>
              </li>
              <li class="drop__item">
                <a class="drop__link" href="#">
                  Чай, кофе
                </a>
              </li>
            </ul>
          </div>


          <form class="form-search">
            <label class="sr-only" for="form-search__input">Введите название товара в поиск</label>
            <input class="form-search__input" id="form-search__input" name="form-search"
              placeholder="Найти в магазине ..." type="search" required>
            <button class="btn btn--search" type="submit">Поиск</button>
          </form>

          <ul class="user-nav">

            <li class="user-nav__item">
              <button class="general-btn general-btn--search" type="button">
                <span class="sr-only">Поиск</span>
              </button>
            </li>

            <li class="user-nav__item">
              <button class="general-btn general-btn--user" type="button">
                <span class="sr-only">Открыть меню пользователя</span>
              </button>
            </li>

            <li class="user-nav__item">
              <button class="general-btn general-btn--favorites" type="button">
                <span class="sr-only">Открыть избранное</span>
                <span class="general-btn__num">12</span>
              </button>
            </li>

            <li class="user-nav__item">
              <button class="general-btn general-btn--basket" type="button">
                <span class="sr-only">Открыть корзину</span>
                <span class="general-btn__num">12</span>
              </button>
            </li>

          </ul>

        </div>

      </div>

    </div>
  </nav>
</header>