<section class="news">
  <div class="container">
    <div class="news__top">
      <h2 class="title news__top-title">
        наши новости
      </h2>
      <a class="news__top-link" href="#">
        все новости
      </a>
    </div>
    <ul class="news__list">
      <li class="news__item">
        <article class="news-card">
          <a class="news-card__link" href="#">
            <img class="news-card__img" src="images/content/news/strawberry.jpg" width="410" height="240"
              alt="Клубника">
            <time datetime="2021-07-15" class="news-card__date">
              июль
              <span class="news-card__day">
                15
              </span>
            </time>
            <h3 class="news-card__title">
              Событие этого лета: распродажа сезонных фруктов в онлайн-маркете ФрешОК. Торопись, пока всё не
              разобрали!
            </h3>
          </a>
        </article>
      </li>

      <li class="news__item">
        <article class="news-card">
          <a class="news-card__link" href="#">
            <img class="news-card__img" src="images/content/news/mango.jpg" width="410" height="240" alt="Клубника">
            <time datetime="2021-05-07" class="news-card__date">
              май
              <span class="news-card__day">
                07
              </span>
            </time>
            <h3 class="news-card__title">
              Шикарнейший выбор манго в нашем онлайн-маркете
            </h3>
          </a>
        </article>
      </li>

      <li class="news__item">
        <article class="news-card">
          <a class="news-card__link" href="#">
            <img class="news-card__img" src="images/content/news/papaya.jpg" width="410" height="240" alt="Папайя">
            <time datetime="2021-02-20" class="news-card__date">
              февраль
              <span class="news-card__day">
                20
              </span>
            </time>
            <h3 class="news-card__title">
              Всё, что вы хотели знать о папайя
            </h3>
          </a>
        </article>
      </li>

    </ul>
  </div>
</section>