<section class="product-one">

  <div class="container">

    <div class="product-one__inner">

      <ul class="slider-product">

        <li class="slider-product__wrapper">
          <div class="slider-product__item">
            <a class="slider-product__link" href="images/content/products/1-big.jpg" data-fancybox="gallery">
              <img class="slider-product__img" src="images/content/products/1.jpg" alt="">
            </a>
          </div>
        </li>

        <li class="slider-product__wrapper">
          <div class="slider-product__item">
            <a class="slider-product__link" href="images/content/products/1-big.jpg" data-fancybox="gallery">
              <img class="slider-product__img" src="images/content/products/1.jpg" alt="">
            </a>
          </div>
        </li>


        <li class="slider-product__wrapper">
          <div class="slider-product__item">
            <a class="slider-product__link" href="images/content/products/1-big.jpg" data-fancybox="gallery">
              <img class="slider-product__img" src="images/content/products/1.jpg" alt="">
            </a>
          </div>
        </li>

      </ul>


      <div class="product-one__info">
        <h3 class="product-one__title">Питахайя красная с белой мякотью</h3>
        <span class="badge badge--orange">Хит</span>
        <div class="product-one__status">
          <span class="barcode">Код: 0111111</span>
          <div class="star" data-rateyo-rating="4.0"></div>
          <div class="availability availability">В НАЛИЧИИ</div>
        </div>

        <div class="pricing">
          <span class="pricing__oldprice">299<span> ₽</span>
          </span>
          <span class="pricing__newprice">199<span> ₽</span>
          </span>
        </div>


        <div class="product-one__center">

          <form class="form-buy">

            <div class="form-buy__box">
              <button class="form-buy__btn form-buy__btn--minus" type="button">-
                <span class="sr-only">минус</span>
              </button>
              <label class="sr-only" for="counter-merchandise">Введите колличество которое хотите купить</label>
              <input class="form-buy__num" name="counter-merchandise" id="counter-merchandise" type="nubmer" value="1"
                step="1" min="1" max="99">
              <button class="form-buy__btn form-buy__btn--plus" type="button">+
                <span class="sr-only">плюс</span>
              </button>
            </div>

            <button class="basket" type="submit">
              <span class="sr-only">Добавить в корзину</span>
              <svg class="basket__svg">
                <use xlink:href="images/sprite.svg#cart"></use>
              </svg>
            </button>
          </form>

          <button class="product-one__btn" type="button">
            <span class="sr-only">Добавить в избранное</span>
            <svg class="product-one__svg">
              <use xlink:href="images/sprite.svg#hearts"></use>
            </svg>
          </button>

        </div>

        <div class="product-one__delivery">
          <h4 class="product-one__delivery-title">Доставка и оплата</h4>
          <div class="product-one__delivery-text">

            <p>
              Минимальная сумма заказа - 100 руб.
            </p>

            <p>
              Время доставки заказа - 60-120 мин.
            </p>

            <p>
              Оплата осуществляется только банковской картой.
            </p>

            <p>
              Окончательная сумма заказа формируется после сбора товаров.
            </p>

          </div>

          <a class="product-one__delivery-link" href="#">Подробнее</a>

        </div>



      </div>

    </div>

    <div class="product-one-tabs">

      <ul class="product-one-tabs__list">
        <li class="product-one-tabs__item">
          <a class="product-one-tabs__link" href="#tab-1">
            описание
          </a>
        </li>

        <li class="product-one-tabs__item">
          <a class="product-one-tabs__link product-one-tabs__link--active" href="#tab-2">
            характеристики
          </a>
        </li>

        <li class="product-one-tabs__item">
          <a class="product-one-tabs__link" href="#tab-3">
            отзывы (2)
          </a>
        </li>
      </ul>

      <ul class="product-one-tabs__content">

        <li class="product-one-tabs__content-item" id="tab-1">
          <div class="product-one-description">
            <div class="product-one-description__text">
              <p>
                Питахайя – это источник питательных веществ и витаминов. Содержит витамин С, который способствует
                укреплению иммунной системы. В составе питайи много клетчатки, она благотворно влияет на работу ЖКТ.
                Оказывает противовоспалительное действие, так как фрукт богат антиоксидантами. При употреблении
                питахайи, понижается уровень сахара в крови, улучшается зрение и работа сердечно–сосудистой системы.
                Так как фрукт низкокалорийный и состоит на 90% из воды, способствует снижению веса.
              </p>

              <p>
                Витамины: С, Е, РР, витамины группы В
              </p>

              <p>
                Микроэлементы: железо, калий, кальций, магний, фосфор
              </p>

              <p>
                Внешний вид товара может отличаться от изображений, представленных на сайте.
              </p>

            </div>

          </div>
        </li>

        <li class="product-one-tabs__content-item product-one-tabs__content-item--active" id="tab-2">

          <ul class="product-one-specifications">

            <li class="product-one-specifications__info-item">
              <span class="product-one-specifications__span">
                Вес:
              </span>
              250-350 г;
            </li>

            <li class="product-one-specifications__info-item">
              <span class="product-one-specifications__span">Калорийность (на 100г):</span>
              50 ккал;
            </li>

            <li class="product-one-specifications__info-item">
              <span class="product-one-specifications__span">Условия хранения:</span>
              температура от +3 до +8;
            </li>

            <li class="product-one-specifications__info-item">
              <span class="product-one-specifications__span">Другие названия:</span>
              Драконов фрукт, Глаз дракона;
            </li>

            <li class="product-one-specifications__info-item">
              <span class="product-one-specifications__span">Страна происхождения:</span>
              Вьетнам;
            </li>

            <li class="product-one-specifications__info-item">
              <span class="product-one-specifications__span">Срок хранения: </span>
              до 5 дней.
            </li>

          </ul>
        </li>

        <li class="product-one-tabs__content-item" id="tab-3">

          <div class="reviews">

            <h3 class="reviews__title">
              мнения наших клиентов
            </h3>

            <ul class="reviews__list">

              <li class="reviews__item">

                <div class="reviews__info">

                  <img class="reviews__img" src="images/avatar/1.jpg" alt="аватар" width="70" height="70">

                  <div class="reviews__name">
                    Андрей
                    <span class="reviews__date">10.06.2021</span>
                  </div>

                  <div class="star" data-rateyo-rating="4.0"></div>

                </div>

                <div class="reviews__text">
                  <p>
                    Яркий цвет, нежный вкус. Очень свежий и приятный, буду пробовать еще!))
                  </p>
                </div>

              </li>


              <li class="reviews__item">

                <div class="reviews__info">

                  <img class="reviews__img" src="images/avatar/2.jpg" alt="аватар" width="70" height="70">

                  <div class="reviews__name">
                    Екатерина Белая
                    <span class="reviews__date">7.06.2021</span>
                  </div>

                  <div class="star" data-rateyo-rating="5.0"></div>

                </div>

                <div class="reviews__text">
                  <p>
                    Цвет, конечно, очень насыщенный! Ожидаешь, что и вкус будет такой же яркий (просто взрыв), но
                    нет. Вкус "сдержанно-сладкий" и очень-очень свежий! Рада, что есть такая возможность - пробовать
                    экзотические фрукты.
                  </p>
                </div>

              </li>

            </ul>


            <h3 class="reviews__title">оставить отзыв</h3>

            <div class="reviews__rating">
              Ваша оценка *
              <div class="reviews__star"></div>
            </div>

            <form class="reviews__form" action="#">

              <div class="reviews__box">
                <label class="reviews__label" for="reviews__textarea">Ваш отзыв *</label>
                <textarea class="reviews__textarea" name="reviews__textarea" id="reviews__textarea"
                  placeholder="Введите текст отзыва" required></textarea>
              </div>



              <div class="reviews__inputs">

                <label class="reviews__label" for="reveiew__input-name">Имя</label>
                <input class="reviews__input" type="text" name="reveiew__input-name" id="reveiew__input-name"
                  placeholder="Введите ваше имя" required>

                <label class="reviews__label" for="reveiew__input-email">Email *</label>
                <input class="reviews__input" type="email" name="reveiew__input-email" id="reveiew__input-email"
                  placeholder="youremail@mail.com" required>
              </div>


              <label class="reviews__label reviews__label--checkbox">
                <input class="reviews__input-checkbox" type="checkbox" required>
                <span class="reviews__checkbox"></span>
                Сохранить моё имя, email и адрес сайта в этом браузере для последующих моих комментариев.
              </label>

              <button class="btn" type="submit">Оставить отзыв</button>

            </form>


          </div>
        </li>

      </ul>

    </div>


  </div>

</section>