<section class="slider-main">

  <ul class="slider-main__list">

    <li class="slider-main__box">
      <div class="slider-main__bg" style="background-image: url(images/slider/slider-bg-1.jpg);">
        <h2 class="sr-only">
          Наши акции
        </h2>
        <div class="container">
          <div class="slider-main__wrapper">
            <div class="slider-main__info">
              <h3 class="slider-main__title">
                свежачок вам в хату
                <span class="slider-main__subtitle">
                  Скидка -50%
                </span>
              </h3>
              <div class="slider-main__descr">
                <p>
                  Только с 7 по 13 июля скидка на сезонные фрукты и овощи до 50%. Торопитесь!
                </p>
              </div>
              <button class="btn" type="button">
                Купить сейчас
              </button>
            </div>
          </div>
        </div>
      </div>
    </li>

    <li class="slider-main__box">
      <div class="slider-main__bg" style="background-image: url(images/slider/slider-bg-2.jpg);">
        <div class="container">
          <div class="slider-main__wrapper">
            <div class="slider-main__info">
              <h3 class="slider-main__title">
                накрути себе томатов
                <span class="slider-main__subtitle">
                  акция: 3 кг по цене 1
                </span>
              </h3>
              <div class="slider-main__descr">
                <p>
                  Только с 12 по 15 июля скидка на домашние помидорчики
                </p>
              </div>
              <button class="btn" type="button">
                Купить сейчас
              </button>
            </div>
          </div>
        </div>
      </div>
    </li>

    <li class="slider-main__box">
      <div class="slider-main__bg" style="background-image: url(images/slider/slider-bg-3.jpg);">
        <div class="container">
          <div class="slider-main__wrapper">
            <div class="slider-main__info">
              <h3 class="slider-main__title">
                Пусть остальные
                позеленеют от зависти
                <span class="slider-main__subtitle">
                  Распродажа зелени
                </span>
              </h3>
              <button class="btn" type="button">
                Купить сейчас
              </button>
            </div>
          </div>
        </div>
      </div>
    </li>

  </ul>

</section>