<section class="top-products">
  <div class="container container--big" data-ref="container-1">
    <h2 class="title">
      Топовые товары
    </h2>

    <ul class="filter-mix">
      <li class="filter-mix__item">
        <button class="filter-mix__btn" type="button" data-filter="all">
          Все товары
        </button>
      </li>
      <li class="filter-mix__item">
        <button class="filter-mix__btn" type="button" data-filter=".category-a">
          Фрукты
        </button>
      </li>
      <li class="filter-mix__item">
        <button class="filter-mix__btn" type="button" data-filter=".category-b">
          Овощи
        </button>
      </li>
      <li class="filter-mix__item">
        <button class="filter-mix__btn" type="button" data-filter=".category-c">
          Напитки
        </button>
      </li>
      <li class="filter-mix__item">
        <button class="filter-mix__btn" type="button" data-filter=".category-d">
          Бакалея
        </button>
      </li>
    </ul>


    <ul class="top-products__list">
      <li class="top-products__item mix category-a">
        <article class="product-card">
          <div class="product-card__info">
            <span class="badge badge--green">Новинка</span>
            <span class="badge badge--red">-50%</span>
          </div>
          <button class="product-card__btn" type="button">
            <span class="sr-only">Добавить в избранное</span>
            <svg class="product-card__svg">
              <use xlink:href="images/sprite.svg#hearts"></use>
            </svg>
          </button>

          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/content/top/pineapple.jpg" alt="Ананас" width="300" height="215">
          </a>

          <div class="product-card__bottom">
            <h3 class="product-card__name">
              Ананас, 1кг
            </h3>
            <div class="pricing">
              <span class="pricing__oldprice">1999<span> ₽</span>
              </span>
              <span class="pricing__newprice">999<span> ₽</span>
              </span>
            </div>
          </div>

          <div class="product-card__buy">
            <form class="form-buy">

              <div class="form-buy__box">
                <button class="form-buy__btn form-buy__btn--minus" type="button">-
                  <span class="sr-only">минус</span>
                </button>
                <label class="sr-only" for="counter-merchandise">Введите колличество которое хотите купить</label>
                <input class="form-buy__num" name="counter-merchandise" id="counter-merchandise" type="nubmer" value="1"
                  step="1" min="1" max="99">
                <button class="form-buy__btn form-buy__btn--plus" type="button">+
                  <span class="sr-only">плюс</span>
                </button>
              </div>

              <button class="basket" type="submit">
                <span class="sr-only">Добавить в корзину</span>
                <svg class="basket__svg">
                  <use xlink:href="images/sprite.svg#cart"></use>
                </svg>
              </button>
            </form>
          </div>

        </article>
      </li>

      <li class="top-products__item mix category-a">
        <article class="product-card">
          <div class="product-card__info"></div>
          <button class="product-card__btn" type="button">
            <span class="sr-only">Добавить в избранное</span>
            <svg class="product-card__svg">
              <use xlink:href="images/sprite.svg#hearts"></use>
            </svg>
          </button>

          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/content/top/lemon.jpg" alt="Лимон" width="300" height="215">
          </a>

          <div class="product-card__bottom">
            <h3 class="product-card__name">
              Лимон, 1кг
            </h3>
            <div class="pricing">
              <span class="pricing__newprice">999<span> ₽</span>
              </span>
            </div>
          </div>

          <div class="product-card__buy">
            <form class="form-buy">

              <div class="form-buy__box">
                <button class="form-buy__btn form-buy__btn--minus" type="button">-
                  <span class="sr-only">минус</span>
                </button>
                <label class="sr-only" for="counter-merchandise">Введите колличество которое хотите купить</label>
                <input class="form-buy__num" name="counter-merchandise" id="counter-merchandise" type="nubmer" value="1"
                  step="1" min="1" max="99">
                <button class="form-buy__btn form-buy__btn--plus" type="button">+
                  <span class="sr-only">плюс</span>
                </button>
              </div>

              <button class="basket" type="submit">
                <span class="sr-only">Добавить в корзину</span>
                <svg class="basket__svg">
                  <use xlink:href="images/sprite.svg#cart"></use>
                </svg>
              </button>
            </form>
          </div>


        </article>
      </li>


      <li class="top-products__item mix category-a">
        <article class="product-card">
          <div class="product-card__info">
            <span class="badge badge--orange">Хит</span>
          </div>
          <button class="product-card__btn" type="button">
            <span class="sr-only">Добавить в избранное</span>
            <svg class="product-card__svg">
              <use xlink:href="images/sprite.svg#hearts"></use>
            </svg>
          </button>

          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/content/top/dragon-fruit.jpg" alt="Питахайя" width="300"
              height="215">
          </a>

          <div class="product-card__bottom">
            <h3 class="product-card__name">
              Питахайя красная с белой мякотью, 1шт
            </h3>
            <div class="pricing">
              <span class="pricing__newprice">1019<span> ₽</span>
              </span>
            </div>
          </div>

          <div class="product-card__buy">
            <form class="form-buy">

              <div class="form-buy__box">
                <button class="form-buy__btn form-buy__btn--minus" type="button">-
                  <span class="sr-only">минус</span>
                </button>
                <label class="sr-only" for="counter-merchandise">Введите колличество которое хотите купить</label>
                <input class="form-buy__num" name="counter-merchandise" id="counter-merchandise" type="nubmer" value="1"
                  step="1" min="1" max="99">
                <button class="form-buy__btn form-buy__btn--plus" type="button">+
                  <span class="sr-only">плюс</span>
                </button>
              </div>

              <button class="basket" type="submit">
                <span class="sr-only">Добавить в корзину</span>
                <svg class="basket__svg">
                  <use xlink:href="images/sprite.svg#cart"></use>
                </svg>
              </button>
            </form>
          </div>

        </article>
      </li>


      <li class="top-products__item mix category-d">
        <article class="product-card">
          <div class="product-card__info"></div>
          <button class="product-card__btn" type="button">
            <span class="sr-only">Добавить в избранное</span>
            <svg class="product-card__svg">
              <use xlink:href="images/sprite.svg#hearts"></use>
            </svg>
          </button>

          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/content/top/ketchup.jpg"
              alt="Кетчуп томатный детский Bio-Zentrale" width="300" height="215">
          </a>

          <div class="product-card__bottom">
            <h3 class="product-card__name">
              Кетчуп томатный детский органический Bio-Zentrale 500мл, 1 шт
            </h3>
            <div class="pricing">
              <span class="pricing__newprice">600<span> ₽</span>
              </span>
            </div>
          </div>

          <div class="product-card__buy">
            <form class="form-buy">

              <div class="form-buy__box">
                <button class="form-buy__btn form-buy__btn--minus" type="button">-
                  <span class="sr-only">минус</span>
                </button>
                <label class="sr-only" for="counter-merchandise">Введите колличество которое хотите купить</label>
                <input class="form-buy__num" name="counter-merchandise" id="counter-merchandise" type="nubmer" value="1"
                  step="1" min="1" max="99">
                <button class="form-buy__btn form-buy__btn--plus" type="button">+
                  <span class="sr-only">плюс</span>
                </button>
              </div>

              <button class="basket" type="submit">
                <span class="sr-only">Добавить в корзину</span>
                <svg class="basket__svg">
                  <use xlink:href="images/sprite.svg#cart"></use>
                </svg>
              </button>
            </form>
          </div>

        </article>
      </li>

      <li class="top-products__item mix category-b">
        <article class="product-card">
          <div class="product-card__info">
            <div class="badge badge--orange">Хит</div>
          </div>
          <button class="product-card__btn" type="button">
            <span class="sr-only">Добавить в избранное</span>
            <svg class="product-card__svg">
              <use xlink:href="images/sprite.svg#hearts"></use>
            </svg>
          </button>

          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/content/top/carrot.jpg" alt="Морковь" width="300" height="215">
          </a>

          <div class="product-card__bottom">
            <h3 class="product-card__name">
              Морковь молодая с бабушкиной грядки, 1кг
            </h3>
            <div class="pricing">
              <span class="pricing__newprice">49<span> ₽</span>
              </span>
            </div>
          </div>

          <div class="product-card__buy">
            <form class="form-buy">

              <div class="form-buy__box">
                <button class="form-buy__btn form-buy__btn--minus" type="button">-
                  <span class="sr-only">минус</span>
                </button>
                <label class="sr-only" for="counter-merchandise">Введите колличество которое хотите купить</label>
                <input class="form-buy__num" name="counter-merchandise" id="counter-merchandise" type="nubmer" value="1"
                  step="1" min="1" max="99">
                <button class="form-buy__btn form-buy__btn--plus" type="button">+
                  <span class="sr-only">плюс</span>
                </button>
              </div>

              <button class="basket" type="submit">
                <span class="sr-only">Добавить в корзину</span>
                <svg class="basket__svg">
                  <use xlink:href="images/sprite.svg#cart"></use>
                </svg>
              </button>
            </form>
          </div>

        </article>
      </li>

      <li class="top-products__item mix category-c">
        <article class="product-card">
          <div class="product-card__info">
            <div class="badge badge--red">-30%</div>
          </div>
          <button class="product-card__btn" type="button">
            <span class="sr-only">Добавить в избранное</span>
            <svg class="product-card__svg">
              <use xlink:href="images/sprite.svg#hearts"></use>
            </svg>
          </button>

          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/content/top/juice.jpg"
              alt="Напиток сокосодержащий Sanpellegrino Aranciata" width="300" height="215">
          </a>

          <div class="product-card__bottom">
            <h3 class="product-card__name">
              Напиток сокосодержащий Sanpellegrino Aranciata Orange Красный апельсин безалкогольн...
            </h3>
            <div class="pricing">
              <span class="pricing__oldprice">299<span></span>
              </span>
              <span class="pricing__newprice">199<span> ₽</span>
              </span>
            </div>
          </div>

          <div class="product-card__buy">
            <form class="form-buy">

              <div class="form-buy__box">
                <button class="form-buy__btn form-buy__btn--minus" type="button">-
                  <span class="sr-only">минус</span>
                </button>
                <label class="sr-only" for="counter-merchandise">Введите колличество которое хотите купить</label>
                <input class="form-buy__num" name="counter-merchandise" id="counter-merchandise" type="nubmer" value="1"
                  step="1" min="1" max="99">
                <button class="form-buy__btn form-buy__btn--plus" type="button">+
                  <span class="sr-only">плюс</span>
                </button>
              </div>

              <button class="basket" type="submit">
                <span class="sr-only">Добавить в корзину</span>
                <svg class="basket__svg">
                  <use xlink:href="images/sprite.svg#cart"></use>
                </svg>
              </button>
            </form>
          </div>

        </article>
      </li>

      <li class="top-products__item mix category-d">
        <article class="product-card">
          <div class="product-card__info">
            <div class="badge badge--green">Новинка</div>
          </div>
          <button class="product-card__btn" type="button">
            <span class="sr-only">Добавить в избранное</span>
            <svg class="product-card__svg">
              <use xlink:href="images/sprite.svg#hearts"></use>
            </svg>
          </button>

          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/content/top/coffee.jpg"
              alt="Кофе с коноплей органический Caffé Salomoni" width="300" height="215">
          </a>

          <div class="product-card__bottom">
            <h3 class="product-card__name">
              Кофе с коноплей органический Caffé Salomoni 250г
            </h3>
            <div class="pricing">
              <span class="pricing__newprice">877<span> ₽</span>
              </span>
            </div>
          </div>

          <div class="product-card__buy">
            <form class="form-buy">

              <div class="form-buy__box">
                <button class="form-buy__btn form-buy__btn--minus" type="button">-
                  <span class="sr-only">минус</span>
                </button>
                <label class="sr-only" for="counter-merchandise">Введите колличество которое хотите купить</label>
                <input class="form-buy__num" name="counter-merchandise" id="counter-merchandise" type="nubmer" value="1"
                  step="1" min="1" max="99">
                <button class="form-buy__btn form-buy__btn--plus" type="button">+
                  <span class="sr-only">плюс</span>
                </button>
              </div>

              <button class="basket" type="submit">
                <span class="sr-only">Добавить в корзину</span>
                <svg class="basket__svg">
                  <use xlink:href="images/sprite.svg#cart"></use>
                </svg>
              </button>
            </form>
          </div>

        </article>
      </li>

      <li class="top-products__item mix category-b">
        <article class="product-card">
          <div class="product-card__info">
            <div class="badge badge--green">Новинка</div>
          </div>
          <button class="product-card__btn" type="button">
            <span class="sr-only">Добавить в избранное</span>
            <svg class="product-card__svg">
              <use xlink:href="images/sprite.svg#hearts"></use>
            </svg>
          </button>

          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/content/top/paprik.jpg" alt="Перец оранжевый" width="300"
              height="215">
          </a>

          <div class="product-card__bottom">
            <h3 class="product-card__name">
              Перец оранжевый, 1кг
            </h3>

            <div class="pricing">
              <span class="pricing__newprice">349<span> ₽</span>
              </span>
            </div>

          </div>

          <div class="product-card__buy">
            <form class="form-buy">

              <div class="form-buy__box">
                <button class="form-buy__btn form-buy__btn--minus" type="button">-
                  <span class="sr-only">минус</span>
                </button>
                <label class="sr-only" for="counter-merchandise">Введите колличество которое хотите купить</label>
                <input class="form-buy__num" name="counter-merchandise" id="counter-merchandise" type="nubmer" value="1"
                  step="1" min="1" max="99">
                <button class="form-buy__btn form-buy__btn--plus" type="button">+
                  <span class="sr-only">плюс</span>
                </button>
              </div>

              <button class="basket" type="submit">
                <span class="sr-only">Добавить в корзину</span>
                <svg class="basket__svg">
                  <use xlink:href="images/sprite.svg#cart"></use>
                </svg>
              </button>
            </form>
          </div>

        </article>
      </li>

    </ul>
    <button class="btn btn--transparent" type="button">Показать еще</button>
  </div>
</section>